{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <section class="sidebar">
            <h2><a href="{% url 'index' %}">Wiki</a></h2>
            <form action="{% url 'search' %}" method="GET">
                <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                <input type="submit" placeholder="Submit">
            </form>
            <div>
                Create New Page
            </div>
            <div>
                Random Page
            </div>
            {% block nav %}
            {% endblock %}
        </section>
        <article class="main">
            {% block body %}
            {% endblock %}
        </article>
    </body>
</html>